# Dependencias
node_modules/

# Archivos de entorno
.env

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Compilados o temporales
dist/
build/
coverage/
.tmp/
.cache/

# Archivos de editor
.vscode/
.idea/

# Otros
*.log
